table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  border: 1px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}

table.paleBlueRows td,
table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}

table.paleBlueRows tbody td {
  font-size: 100%;
}

table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}

table.paleBlueRows thead {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}

table.paleBlueRows thead th {
  color: #FFFFFF;
  border-left: 2px solid #FFFFFF;
}

table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows thead tr:nth-child(even) td,
table.paleBlueRows thead tr:nth-child(even) th {
  color: #000000;
}

table.paleBlueRows tfoot {
  font-size: 120%;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
